html {
    font-size: 16px;
}

@media (max-width: 1200px) {
    html {
      font-size: 16px;
    }

}

@media (max-width: 992px) {
    html {
      font-size: 14px;
    }

}

@media (max-width: 768px) {
    html {
      font-size: 12px;
    }
}

@media (max-width: 576px) {
    html {
      font-size: 10px;
    }
}

@media (max-width: 400px) {
    html {
      font-size: 8px;
    }
}

.mouth {
  width: 12.5rem;
  height: 6.25rem;
  border-radius: 6.25rem;
  border: .625rem solid red;
  background-color: black;
}

.mouth-bottom {
  width: 12.5rem;
  height: 3.125rem;
  border: .625rem solid red;
  background-color: none;
  border-radius: 0 0 6.25rem 6.25rem;
  border-top: none;
}

.teeth {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 7.5rem;
  height: 1.438rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.tooth {
  width: 1.25rem;
  height: 1.25rem;
  border: .125rem solid white;
  background-color: white;
  border-radius: 0 0 .313rem .313rem;
}

.tongue {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3.75rem;
  height: 2.5rem;
  border-radius: 50% 50% 0 0;
  background-color: pink;
  animation: tongueStretch 1s ease-in-out infinite;
}

.tongue::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: .063rem;
  height: 1.875rem;
  background-color: darkred;
  animation: tongueLineStretch 1s ease-in-out infinite;
}

.eye-left {
    width: 1.875rem;
    height: 1.875rem;
    background-color: white;
    border: .188rem solid black;
    border-radius: 50%;
    position: absolute;
    top: -3.75rem;
    left: 3.125rem;
    transform: scaleY(1);
    transform-origin: center center;
    transform-box: fill-box;
    animation: eyeBlink 4s linear infinite;
  }
  
  .pupil {
    width: .625rem;
    height: .625rem;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: .313rem;
    left: .313rem;
    border: .313rem solid lightskyblue;
    overflow: hidden;
    animation : eyeRoll 2s ease-in-out infinite;
  }
  
  .eye-right {
    width: 1.875rem;
    height: 1.875rem;
    background-color: white;
    border: .188rem solid black;
    border-radius: 50%;
    position: absolute;
    top: -3.75rem;
    right: 3.125rem;
    transform: scaleY(1);
    transform-origin: center center;
    transform-box: fill-box;
    animation: eyeBlink 4s linear infinite;
  }
  
  @keyframes eyeRoll {
      0% {
          left: 0;
      }
      50% {
          left: .625rem;
      }
      100% {
          left: 0;
      }
  }
  
  @keyframes eyeBlink {
      0% { transform: scaleY(1); }
      5% { transform: scaleY(1); }
      10% { transform: scaleY(1); }
        15% { transform: scaleY(1); }
      20% { transform: scaleY(1); }
        25% { transform: scaleY(1); }
      30% { transform: scaleY(1); }
        35% { transform: scaleY(1); }
      40% { transform: scaleY(1); }
        45% { transform: scaleY(1); }
      50% { transform: scaleY(1); }
        55% { transform: scaleY(1); }
      60% { transform: scaleY(0); }
        65% { transform: scaleY(1); }
      70% { transform: scaleY(1); }
        75% { transform: scaleY(1); }
      80% { transform: scaleY(1); }
        85% { transform: scaleY(1); }
      90% { transform: scaleY(1); }
        95% { transform: scaleY(1); }
      100% { transform: scaleY(1); }
  }

@keyframes tongueStretch {
  0% {
    height: 2.5rem;
  }
  50% {
    height: 3.75rem;
  }
  100% {
    height: 2.5rem;
  }
}

@keyframes tongueLineStretch {
  0% {
    height: 1.563rem;
  }
  50% {
    height: 2.813rem;
  }
  100% {
    height: 1.563rem;
  }
}
